<!DOCTYPE html><html><head><title></title></head><body><script src="/import-map.js"></script><script type="module">
import Starter, { THREE }  from '../lib/Starter.js';
import ShapePointsMesh     from "../lib/meshes/ShapePointsMesh.js";
import DynLinesMesh        from "../lib/meshes/DynLineMesh.js";

let App;
let Debug = {};

window.addEventListener( "load", _=>{
    // ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    App = new Starter( { webgl2:false, grid:true } );
    App.setCamera( 0, 20, 4 ).render();

    App.add( (Debug.pnt = new ShapePointsMesh() ) );
    App.add( (Debug.ln  = new DynLinesMesh() ) );

    // ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Debug.pnt
        .add( [-1,0,0], 0x00ffff, 4, 1 )
        .add( [1,0,0],  0x00ffff, 6, 2 )
        .add( [0,1,0],  0xffff00, 6, 5 );

    Debug.ln
        .add( [-1,0,0], [-1,1,0], 0x00ffff, 0xffff00, false )
        .add( [1,0,0],  [1,1,0],  0x00ffff, 0xffff00, false )
        .add( [-1,1,0], [1,1,0],  0xffff00, null, true );
});
</script></body></html>