<!DOCTYPE html><html lang="en"><head><meta charset="UTF-8" /><meta name="viewport" content="width=device-width, initial-scale=1.0" /><title></title></head>
<style>canvas{ display:block; } body, html { padding:0px; margin:0px; width:100%; height:100%; }</style>
<body><script src="/import-map.js"></script><script type="module">
import useThreeWebGL2, { THREE, useDarkScene, useVisualDebug } from '../lib/useThreeWebGL2.js';

// #region MAIN
let Debug;
let App   = useDarkScene( useThreeWebGL2( ) );
let Ref   = {};

window.addEventListener( 'load', async _=>{
    // ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    // Setup
    App.sphericalLook( 0, 20, 6, [0, 0.5, 0] );
    Debug = await useVisualDebug( App );

    // testVoxel();
    // testVoxelRender();

    // ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Ref.vox = new VoxelChunk().fitSize( [2,2,2], 13, true );

    // Visualize Voxel Grid
    const bMin = Ref.vox.minBound.slice();
    const bMax = Ref.vox.maxBound.slice();
    bMin[0] += 1.5; bMin[1] += 1.0;
    bMax[0] += 1.5; bMax[1] += 1.0;
    Debug.ln.box( bMin, bMax, 0x606060 );
    // let cor=[0,0,0], mid=[0,0,0];
    // for( let i=0; i < Ref.vox.count; i++ ){
    //     Ref.vox.idxCoord( i, cor );
    //     Ref.vox.coordMidPoint( cor, mid );
    //     Debug.pnt.add( mid, 0x505050, 2 );
    // }

    // for( let i=0; i < Ref.vox.count; i++ ) Ref.vox.cells[i] = 1; //( Math.random() > 0.5)?1:0;

    // ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Ref.sh = new GLComputeShader( App.renderer.getContext(), C_SRC )
        .setUniform( 'vCellSize', Ref.vox.cellSize )
        .setUniform( 'vXZCount', Ref.vox.xzCount )
        .setUniform( 'vDimension', Ref.vox.dimension )
        .setUniform( 'vMin', Ref.vox.minBound )
        .setUniform( 'time', 0 );

    // ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    const box  = new THREE.BoxGeometry( 1, 1, 1 ); 
    const iGeo = new THREE.InstancedBufferGeometry();
    iGeo.setIndex( Array.from( box.index.array ) ); // 3Js flips out, need to pass JS Array
    iGeo.setAttribute( 'position', box.attributes.position );
    iGeo.setAttribute( 'normal', box.attributes.normal );
    iGeo.setAttribute( 'inst', new THREE.InstancedBufferAttribute( Ref.vox.cells, 1 ) );
    iGeo.instanceCount = Ref.vox.count;

    const mat  = instMaterial( Ref.vox );
    const mesh = new THREE.Mesh( iGeo, mat );
    mesh.position.set( 1.5, 1, 0 );
    App.scene.add( mesh );
    
    App.render(); // Render scene once so GL buffers exist in Attributes
    
    // ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Ref.bufMap = { vox: iGeo.attributes.inst };
    TransformFeedback.compute( App.renderer, Ref.sh, Ref.bufMap );

    // ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    const sMat = sdfMaterial();
    const cube = new THREE.Mesh( new THREE.BoxGeometry( 2, 2, 2 ), sMat );
    cube.position.set( -1.5, 1, 0 );
    App.scene.add( cube );

    Ref.sdf = sMat;
    
    Debug.ln.box( [-2.5, 0.0, -1.0], [-0.5, 2.0, 1.0], 0x606060 );

    // ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    // App.renderLoop();    
    App.createRenderLoop( preRender ).start();
});

function preRender( dt, et ){
    Ref.sdf.time = et;
    Ref.sh.setUniform( 'time', et );
    TransformFeedback.compute( App.renderer, Ref.sh, Ref.bufMap );
}

// #endregion

// #region TESTING
function testVoxel(){
    // const chunk = new VoxelChunk().fitSize( [2,1,1], 2, true );
    const chunk = new VoxelChunk().fitSize( [2,2,2], 3, true );
    Debug.ln.box( chunk.minBound, chunk.maxBound, 0x00ffff );

    let cor=[0,0,0]
    let min=[0,0,0];
    let max=[0,0,0];
    let mid=[0,0,0];

    for( let i=0; i < chunk.count; i++ ){
        // console.log( i, chunk.idxCoord( i ) );
        chunk.idxCoord( i, cor );
        chunk.coordBound( cor, min, max );
        chunk.coordMidPoint( cor, mid );
        Debug.ln.box( min, max, 0x00ffff );
        Debug.pnt.add( mid, 0x00ff00, 3 );
    }
}

function testVoxelRender(){
    const chunk = new VoxelChunk().fitSize( [2,1,1], 2, true );
    for( let i=0; i < chunk.count; i++ ) chunk.cells[i] = ( Math.random() > 0.5)?1:0;

    const box  = new THREE.BoxGeometry( 1, 1, 1 ); 
    const iGeo = new THREE.InstancedBufferGeometry();
    iGeo.setIndex( Array.from( box.index.array ) ); // 3Js flips out, need to pass JS Array
    iGeo.setAttribute( 'position', box.attributes.position );
    iGeo.setAttribute( 'normal', box.attributes.normal );
    iGeo.setAttribute( 'inst', new THREE.InstancedBufferAttribute( chunk.cells, 1 ) );
    iGeo.instanceCount =  chunk.count;

    const mat  = instMaterial( chunk );
    const mesh = new THREE.Mesh( iGeo, mat );
    App.scene.add( mesh );
}
// #endregion

// #region MATERIALS

// Render SDF
function sdfMaterial( color='cyan' ){
    const mat = new THREE.RawShaderMaterial({
        side            : THREE.BackSide,
        //depthTest   : true,
        
        transparent : true,
        uniforms    : {
            color       : { type :'vec3', value:new THREE.Color( color ) },
            time        : { type:'float', value:0 },
        },

        // ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
        vertexShader : `#version 300 es
        in vec3 position;               // Vertex Position

        uniform highp mat4 modelMatrix;       // Matrices should be filled in by THREE.JS Automatically.
        uniform mat4 viewMatrix;
        uniform mat4 projectionMatrix;

        out vec3 fragWPos;             // Fragment World Space Position
        out vec3 fragLPos;

        ////////////////////////////////////////////////////////////////////////
    
        void main(){
            vec4 wpos       = modelMatrix * vec4( position, 1.0 );
            fragWPos        = wpos.xyz;
            fragLPos        = position;
            gl_Position     = projectionMatrix * viewMatrix * wpos;
        }`,

        // ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
        fragmentShader	: `#version 300 es
        precision mediump float;
        
        ////////////////////////////////////////////////////////////////////////
        
        out     vec4 outColor;
        in      vec3 fragWPos;
        in      vec3 fragLPos;

        uniform highp mat4 modelMatrix;
        uniform vec3 cameraPosition;
        uniform vec3 color;
        uniform float time;
        
        // #region MATHS ////////////////////////////////////////////////////////////////////////
        const float PI  = 3.1415926538;
        const float PI2 = 6.28318530718;

        vec3 rotAxisAngle( vec3 axis, float rad, vec3 v ){
            // Rodrigues Rotation formula:
            // v_rot = v * cos(theta) + cross( axis, v ) * sin(theta) + axis * dot( axis, v ) * (1-cos(theta))
            float c = cos( rad );
            float s = sin( rad );
            return  v * c + 
                    cross( axis, v ) * s + 
                    axis * dot( axis, v ) * ( 1. - c );
        }
        // #endregion

        // #region SDF ////////////////////////////////////////////////////////////////////////

        // ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
        // SDF CONFIG

        // GOOD QUALITY, BAD PERFORMANCE WHEN VERY CLOSE : TRIES 60, MIN 0.001
        // MEDIUM QUALITY, BETTER PERFORMANCE CLOSE BY   : TRIES 30, MIN 0.005
        const int   MARCH_TRIES     = 30;       // How many attempt to march ray
        const float MARCH_EPSILON   = 0.005;    // Min Distance to SDF Surface
        const float MARCH_MAX_DIST  = 20.0;     // Max Distance to Travel on March
        const float MARCH_START     = 0.0;      // Starting Distance for Ro Marching

        // Forward Declaration
        float map_func( vec3 p );
        
        // ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
        // SDF RAY MARCHING

        struct SDFResult{
            vec3   hit;
            float  ao;
            int    id;
        } SR;

        bool ray_march( vec3 ro, vec3 rd ){ // Ray Origin, Ray Direction
            float d     = MARCH_START;  // How much distance on the ray traveled
            float rng   = 0.0;          // Distance Range to next closets object

            for( int i = 0; i < MARCH_TRIES && d < MARCH_MAX_DIST; i++ ){
                rng = map_func( ro + rd * d );  // distance to the closest object
                
                // if( rng <= MARCH_EPSILON ){
                
                // if( abs( rng ) <= MARCH_EPSILON ){ // Help Fix some artifacts

                // Spend less time trying to detail long distance pixels. 
                if( abs( rng ) <= ( MARCH_EPSILON * d ) ){
                    SR.hit = ro + rd * d;
                    //SR.ao      = 1.0 - float( i ) / float( MARCH_TRIES - 1 );
                    SR.ao      = 1.0 - d / MARCH_MAX_DIST;
                    return true;
                }
            
                d += rng;   // Add distance for the next check.
            }
            
            return false;
        }

        // ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
        // SDF NORMAL

        // OTHER VERSION, COMPILER'S OPTIMIZATION MIGHT CAUSE ISSUES WITH LARGE SETS OF SDF OBJECTS
        uniform int iFrame;
        vec3 normal_sdf( vec3 pos ){
            #define ZERO min(iFrame,0)
            vec3 n = vec3( 0.0 );

            for( int i = ZERO; i < 4; i++ ){
                vec3 e = 0.5773 * (2.0*vec3((((i+3)>>1)&1),((i>>1)&1),(i&1))-1.0);
                n += e * map_func( pos + 0.0005 * e );
            }
            
            return normalize( n );
        }
        
        // ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
        // SDF OPS

        float sdf_smin( float a, float b, float k ){
            float h = max( k-abs(a-b), 0.0 );
            return min( a, b ) - h*h / (k*4.0);
        }

        float sdf_smax( float a, float b, float k ){
            float h = max( k-abs(a-b), 0.0 );
            return max( a, b ) + h*h / (k*4.0);
        }

        // #endregion

        // #region SDF SHAPES ////////////////////////////////////////////////////////////////////////

        float sdfSphere( vec3 p, vec3 c, float r ){ return length(p - c) - r; }

        float sdTorus( vec3 p, vec3 c, vec2 t ){
            vec3 v = p - c;
            vec2 q = vec2(length(v.xz)-t.x,v.y);
            return length(q)-t.y;
        }

        float map_func( vec3 p ){
            // float d = sdfSphere( p, vec3( -1.5, 1.0, 0.0 ), 0.4 );
            float d = sdTorus( p, vec3( 0.0 ), vec2( 0.7, 0.3 ) );
            return d;
        }

        // #endregion 

        void main(){
            outColor   = vec4( 0.0, 0.0, 0.0, 0.2 );

            // ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
            float rad    = fract( time / 2.0 ) * PI2;

            vec3 fragPos = rotAxisAngle( vec3( 1.0, 0.0, 0.0 ), rad, fragLPos );
            vec3 camLPos = ( inverse( modelMatrix ) * vec4( cameraPosition, 1.0 ) ).xyz;
            camLPos  = rotAxisAngle( vec3( 1.0, 0.0, 0.0 ), rad, camLPos );

            vec3 ray = normalize( fragPos - camLPos );
            if( ray_march( camLPos, ray ) ){
                vec3 norm   = normal_sdf( SR.hit );
                outColor    = vec4( SR.hit + norm * 0.6 , 1.0 ); // * SR.ao
            }

            // float rad  = fract( time / 2.0 ) * PI2;
            // vec3 pos   = rotAxisAngle( vec3( 1.0, 0.0, 0.0 ), rad, fragWPos );

            // vec3 ray   = normalize( fragWPos - cameraPosition );
            // if( ray_march( cameraPosition, ray ) ){
            //     vec3 norm   = normal_sdf( SR.hit );
            //     outColor    = vec4( SR.hit + norm * 0.6 , 1.0 ); // * SR.ao
            // }
        }`,
    });

        
    Object.defineProperty( mat, 'time', {
        set( v ){ mat.uniforms.time.value = v; }
    });

    return mat;
}

// Voxel Instance Shader
function instMaterial( chunk ){
    const mat = new THREE.RawShaderMaterial({        
        uniforms    : {
            vCellSize   : { type:'float', value:chunk.cellSize },
            vXZCount    : { type:'int', value:chunk.xzCount },
            vDimension  : { type:'ivec3', value:chunk.dimension },
            vMin        : { type:'vec3', value:chunk.minBound },
        },

        // ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
        vertexShader : `#version 300 es
        precision highp float;

        in vec3 position;
        in vec3 normal;
        in uint inst;

        uniform mat4 modelMatrix;
        uniform mat4 viewMatrix;
        uniform mat4 projectionMatrix;

        uniform float vCellSize;
        uniform int   vXZCount;
        uniform ivec3 vDimension;
        uniform vec3  vMin;
        uniform float time;

        out vec3 fragWPos;
        out vec3 fragNorm;

        ////////////////////////////////////////////////////////////////////////

        // Compute center point at voxel coordinate
        vec3 coordMidPoint( ivec3 coord ){
            return vec3( coord ) * vCellSize + vMin + ( vCellSize * 0.5 );
        }

        // Convert Index to Voxel Coordinate
        ivec3 idxCoord( int i ){
            int y   = i / vXZCount;            // How Many Y Levels Can We Get?
            int xz  = i - ( y * vXZCount );    // Subtract Y Levels from total, To get remaining Layer
            int z   = xz / vDimension.x;       // How many rows in the last layer can we get?
            int x   = xz - z * vDimension.x;   // With all the rows removed, how many left
            return ivec3( x, y, z );
        }

        ////////////////////////////////////////////////////////////////////////
    
        void main(){
            
            if( inst == 0u ){
                // VOXEL OFF
                gl_Position = vec4( 0.0 );
            }else{
                // VOXEL ON
                // ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
                // Voxel Position
                ivec3 coord = idxCoord( gl_InstanceID );
                vec3 voxMid = coordMidPoint( coord );
                vec3 pos    = position * vCellSize + voxMid; // * float( inst )
                
                // ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
                // Output
                vec4 wpos       = modelMatrix * vec4( pos , 1.0 );

                fragWPos        = wpos.xyz;
                fragNorm        = ( modelMatrix * vec4( normal, 0.0 ) ).xyz;

                gl_Position     = projectionMatrix * viewMatrix * wpos;
            }
        }`,

        // ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
        fragmentShader	: `#version 300 es
        precision mediump float;
                
        out vec4 outColor;
        in  vec3 fragWPos;
        in  vec3 fragNorm;

        ////////////////////////////////////////////////////////////////////////

        void main(){
            // outColor = vec4( 1.0, 0.0, 0.0, 1.0 );

            // Lambert Lighting
            vec3 lightWPos = vec3( 2.0, 10.0, 4.0 );
            float NdL      = dot( fragNorm, normalize( lightWPos - fragWPos ) );
            NdL            = NdL * 0.5 + 0.5;                    // Remap -1:0 to 0:1
            NdL            = clamp( 0.0, 1.0, NdL );             // Help remove any midtone shadows, don't notice it using planes
            NdL            = NdL * NdL;                          // Valve's Half Lambert, just curves the light value

            outColor.a   = 1.0;
            outColor.rgb = vec3( 0.0, 1.0, 0.0 ) * NdL;
        }`,
    });

    return mat;
}
// #endregion


const C_SRC = `#version 300 es
// precision highp float;

uniform float vCellSize;
uniform int   vXZCount;
uniform ivec3 vDimension;
uniform vec3  vMin;
uniform float time;

flat out uint vox;

// #region SDF //////////////////////////////////////////////////////////////////

// https://iquilezles.org/articles/distfunctions/

float sdfSphere( vec3 p, vec3 c, float r ){ return length(p - c) - r; }

float sdfBox( vec3 p, vec3 c, vec3 b ){
  vec3 q = abs( p - c ) - b;
  return length(max(q,0.0)) + min(max(q.x,max(q.y,q.z)),0.0);
}

float sdTorus( vec3 p, vec3 c, vec2 t ){
    vec3 v = p - c;
    vec2 q = vec2(length(v.xz)-t.x,v.y);
    return length(q)-t.y;
}

// #endregion

// #region VOXEL ////////////////////////////////////////////////////////////////

// Compute center point at voxel coordinate
vec3 coordMidPoint( ivec3 coord ){
    return vec3( coord ) * vCellSize + vMin + ( vCellSize * 0.5 );
}

// Convert Index to Voxel Coordinate
ivec3 idxCoord( int i ){
    int y   = i / vXZCount;            // How Many Y Levels Can We Get?
    int xz  = i - ( y * vXZCount );    // Subtract Y Levels from total, To get remaining Layer
    int z   = xz / vDimension.x;       // How many rows in the last layer can we get?
    int x   = xz - z * vDimension.x;   // With all the rows removed, how many left
    return ivec3( x, y, z );
}

// #endregion

// #region MATHS

const float PI  = 3.1415926538;
const float PI2 = 6.28318530718;

vec3 rotAxisAngle( vec3 axis, float rad, vec3 v ){
    // Rodrigues Rotation formula:
    // v_rot = v * cos(theta) + cross( axis, v ) * sin(theta) + axis * dot( axis, v ) * (1-cos(theta))
    float c = cos( rad );
    float s = sin( rad );
    return  v * c + 
            cross( axis, v ) * s + 
            axis * dot( axis, v ) * ( 1. - c );
}

// vec3 rotateX( float rad, vec3 v ){
//     // https://www.siggraph.org/education/materials/HyperGraph/modeling/mod_tran/3drota.htm
//     float s = sin( rad );
//     float c = cos( rad );
//     return vec3(
//         v.x,
//         v.y * c - v.z * s,
//         v.y * s + v.z * c
//     );
// }

// #endregion

void main(){
    // ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    // Voxel Position
    ivec3 coord   = idxCoord( gl_VertexID );
    vec3 voxMid   = coordMidPoint( coord );

    float rad = fract( time / 2.0 ) * PI2;
    voxMid = rotAxisAngle( vec3( 1.0, 0.0, 0.0 ), rad, voxMid );
    // voxMid = rotateX( rad, voxMid );

    // ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    // SDF Test
    vec3 pos = vec3( 0.0 );
    float d  = sdTorus( voxMid, pos, vec2( 0.7, 0.3 ) );
    // float d       = sdfSphere( voxMid, pos, 0.8 );
    // float d       = sdfBox( voxMid, pos, vec3( 0.5 ) );
    
    vox = ( d <= 0.0 ) ? 1u : 0u;
    // vox = 1u;
}`;


class VoxelChunk{
    // #region MAIN
    cells       = null;
    cellSize    = 0;        // Size size of a voxel
    count       = 0;        // Total Voxel Count
    xzCount     = 0;        // x cell cnt * z cell cnt
    minBound    = [0,0,0];
    maxBound    = [1,1,1];
    dimension   = [1,1,1];
    constructor(){}
    // #endregion

    // #region SETTERS
    // Try to subdivide dimension
    fitSize( size=[2,1,1], div=2, centered=true ){
        // ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
        // Found how many voxels can be fit in the size
        this.cellSize     = Math.min( size[0] / div, size[1] / div, size[2] / div );
        this.dimension[0] = Math.ceil( size[0] / this.cellSize );
        this.dimension[1] = Math.ceil( size[1] / this.cellSize );
        this.dimension[2] = Math.ceil( size[2] / this.cellSize );

        // ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
        // Counts
        this.xzCount = this.dimension[0] * this.dimension[2];
        this.count   = this.dimension[1] * this.xzCount;

        // ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
        // Bounding
        if( centered ){
            this.maxBound[0] = this.dimension[0] * this.cellSize * 0.5;
            this.maxBound[1] = this.dimension[1] * this.cellSize * 0.5;
            this.maxBound[2] = this.dimension[2] * this.cellSize * 0.5;
            this.minBound[0] = -this.maxBound[0];
            this.minBound[1] = -this.maxBound[1];
            this.minBound[2] = -this.maxBound[2];
        }else{
            this.minBound[0] = 0;
            this.minBound[1] = 0;
            this.minBound[2] = 0;
            this.maxBound[0] = this.dimension[0] * this.cellSize;
            this.maxBound[1] = this.dimension[1] * this.cellSize;
            this.maxBound[2] = this.dimension[2] * this.cellSize;
        }

        // ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
        // Buffer
        this.cells = new Uint32Array( this.count );
        return this;
    }
    // #endregion

    // #region GETTERS
    // Get the cell min/max boundary from voxel coordinates
    coordBound( coord, minOut, maxOut ){
        minOut[0] = coord[0] * this.cellSize + this.minBound[0];
        minOut[1] = coord[1] * this.cellSize + this.minBound[1];
        minOut[2] = coord[2] * this.cellSize + this.minBound[2];
        maxOut[0] = (coord[0] + 1) * this.cellSize + this.minBound[0];
        maxOut[1] = (coord[1] + 1) * this.cellSize + this.minBound[1];
        maxOut[2] = (coord[2] + 1) * this.cellSize + this.minBound[2];
    }

    // Get the center point of a cell
    coordMidPoint( coord, out ){
        const h = this.cellSize * 0.5;
        out[0]  = coord[0] * this.cellSize + this.minBound[0] + h;
        out[1]  = coord[1] * this.cellSize + this.minBound[1] + h;
        out[2]  = coord[2] * this.cellSize + this.minBound[2] + h;
    }
    // #endregion

    // #region COORDINATE
    // Using Voxel Coordinates, Gets the Cell Array Index
    coordIdx( coord ){
        // ( xLen * zLen * y ) + ( xLen * z ) + x
        return this.xzCount * coord[1] + this.dimension[ 0 ] * coord[2] + coord[0];
    }

    // Compute voxel coordinate from cell flat index
    idxCoord( i, out=[0,0,0] ){
        const y     = Math.floor( i / this.xzCount );       // How Many Y Levels Can We Get?
        const xz    = i - y * this.xzCount;                 // Subtract Y Levels from total, To get remaining Layer
        const z     = Math.floor( xz / this.dimension[0] ); // How many rows in the last layer can we get?
        out[0]      = xz - z * this.dimension[0];
        out[1]      = y;
        out[2]      = z;
        return out;
    }
    // #endregion
}

class TransformFeedback{
    static ref = null;  // Reference to TransformFeedback GL Object

    static compute( renderer, sh, bufMap, exeCnt=0 ){        
        // ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
        // Prepare
        const rend = renderer;
        const gl   = rend.getContext();

        this.preCompute( gl );
        this.loadShader( gl, sh );

        // ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
        // Enable Feedback with fragment stage disabled
        gl.bindTransformFeedback( gl.TRANSFORM_FEEDBACK, this.ref );   // Bind TransformFeedback
        gl.enable( gl.RASTERIZER_DISCARD ); // Disable fragment shader, its not needed

        // ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
        // Buffer Bindings
        // TODO: Finish working binding input buffers
        // const inputDrawCnt  = this.bindOutputs( rend, gl, sh, bufMap );  
        const inputDrawCnt  = 0;
        const outputDrawCnt = this.bindOutputs( rend, gl, sh, bufMap );

        // ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
        // Execute 
        const drawSize = ( exeCnt > 0 )? exeCnt : 
            ( inputDrawCnt > 0 )? inputDrawCnt : outputDrawCnt;

        gl.beginTransformFeedback( gl.POINTS );
        gl.drawArrays( gl.POINTS, 0, drawSize );
        gl.endTransformFeedback();

        // // ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
        this.postCompute( gl );
    }

    // #region LOADERS + BINDERS
    // Bind Input Attributes to Buffers
    static bindInputs( rend, gl, sh, bufMap ){
        let cnt = 0;
        for( const [k,v] of Object.entries( sh.inputs ) ){
            // ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
            // NOTE - This wouldn't work normally in THREEJS
            // renderer.attributes only exists in a MODIFIED library to expose GL BUFFER references
            const buf = bufMap[ k ];
            if( !buf ){ console.log( 'TransformFeedback.compute - Buffer not found : ', k ); continue; }

            const atr = rend.attributes.get( buf );
            if( !atr ){ console.log( 'Attribute reference not found in 3js renderer', k ); continue; }

            // ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
            let dType;  // GL Data Type
            let cLen;   // Component Length
            switch( type ){
                case 'float'    : dType = gl.FLOAT; cLen = 1; break;
                case 'vec2'     : dType = gl.FLOAT; cLen = 2; break;
                case 'vec3'     : dType = gl.FLOAT; cLen = 3; break;
                case 'vec4'     : dType = gl.FLOAT; cLen = 4; break;
                // case 'uint'     : bType = gl.FLOAT; bSize = 1; break;
                default: console.log( 'TransformFeedback.bindInputs - Unknown type : ', type ); break;
            }

            // ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
            // NOTE: May need to support interleaved data
            gl.bindBuffer( gl.ARRAY_BUFFER, atr.buffer );               // Bind position gl buffer
            gl.vertexAttribPointer( v.loc, cLen, dType, false, 0, 0 );  // Setup attribute @ LOC 
            gl.enableVertexAttribArray( v.loc );                        // Turn on Attribute slot

            // Save draw size
            cnt = buf.count / buf.itemSize;
        }

        return cnt;
    }

    // Bind Output Varyings to Buffers
    static bindOutputs( rend, gl, sh, bufMap ){
        let cnt = 0;
        for( const [k,v] of Object.entries( sh.outputs ) ){
            // --------------------------------------------
            // Get GL reference to buffer from 3JS Renderer
            const buf = bufMap[ k ];
            if( !buf ){ console.log( 'TransformFeedback.compute - Buffer not found : ', k ); continue; }

            const atr = rend.attributes.get( buf );
            if( !atr ){ console.log( 'Attribute reference not found in 3js renderer', k ); continue; }

            // --------------------------------------------
            // Bind Buffer to varying location
            gl.bindBufferBase( gl.TRANSFORM_FEEDBACK_BUFFER, v.loc, atr.buffer );

            // Save draw size
            cnt = buf.count / buf.itemSize;
        }

        return cnt;
    }
    
    static loadShader( gl, sh ){
        // ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
        // Turn on shader
        gl.useProgram( sh.prog );  

        // ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
        // Pass uniform data to shader
        for( const u of Object.values( sh.uniforms ) ){

            // ---------------------------------
            if( u.value === null ){
                console.log( 'TransformFeedback.loadShader - Uniform value is null : ', u );
                continuel
            }

            // ---------------------------------
            switch( u.type ){
                case 'float'    : gl.uniform1f( u.loc, u.value ); break;
                case 'vec3'     : gl.uniform3fv( u.loc, u.value ); break;
                case 'int'      : gl.uniform1i( u.loc, u.value ); break;
                case 'ivec3'    : gl.uniform3iv( u.loc, u.value ); break;
                case 'uint'     : gl.uniform1ui( u.loc, u.value ); break;

                // Bind Data Texture @ SLOT 0
                // let slot = 0;
                // gl.uniform1i( loc, slot );                // Which slot for texture uniform to use
                // gl.activeTexture( gl.TEXTURE0 + slot );   // Activate Texture Slot
                // gl.bindTexture( gl.TEXTURE_2D, texRef );  // Bind Texture  

                default         : console.log( 'TransformFeedback.loadShader - Uniform type unknown : ', u.type ); break;
            }
        }
    }
    // #endregion

    // #region COMPUTE EVENTS
    static preCompute( gl ){
        // ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
        // Looks like 3JS leaves VAOs bound after rendering
        // This breaks buffer binding for transform feedback
        // SOOO... Make sure there are no VAO bound before running TF
        gl.bindVertexArray( null );

        // For extra protection, lets just unbind array buffers too
        // Doesn't seem needed but since VAO was an issue, lets do this too.
        gl.bindBuffer( gl.ARRAY_BUFFER, null );

        // ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
        if( !this.ref ) this.ref = gl.createTransformFeedback();
    }

    static postCompute( gl ){
        gl.disable( gl.RASTERIZER_DISCARD );    // Turn on fragment shaders
        gl.bindTransformFeedback( gl.TRANSFORM_FEEDBACK, null ); 
        gl.useProgram( null );
        gl.bindBuffer( gl.ARRAY_BUFFER, null );
        gl.bindTexture( gl.TEXTURE_2D, null );
    }
    // #endregion
}

class GLComputeShader{
    // #region MAIN
    prog     = null;
    gl       = null;
    inputs   = {}; // { name, type, loc }
    outputs  = {}; // { name, type, loc }
    uniforms = {}; // { name, type, value, loc }

    constructor( gl, src ){ 
        this.gl = gl;
        if( this._compile( src ) ){
            this._parseInputs( src );
            this._parseUniforms( src );
        }
    }

    dispose(){
        if( this.prog ) this.gl.deleteProgram( this.prog );
        this.gl   = null;
        this.prog = null;
    }
    // #endregion

    // #region METHODS
    useUniforms( ary ){
        for( let i of ary ) this.uniforms[ i ] = this.gl.getUniformLocation( this.prog, i );
        return this;
    }

    setUniform( vName, v ){
        const u = this.uniforms[ vName ];
        if( u ) u.value = v;
        else    console.log( 'UNIFORM NAME NOT FOUND: ', vName );

        return this;
    }
    // #endregion

    // #region SHADER COMPILING
    _compile( src ){
        // ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
        // Compile Shader
        const vSh = this._compileShader( src, true );
        if( !vSh ) return false;

        const fSh = this._compileShader( '#version 300 es\nvoid main(){}', false );
        if( !fSh ){ this.gl.deleteShader( vSh ); return false; }

        // ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
        this.prog = this._linkProgram( vSh, fSh, src );
        
        return !!this.prog;
    }

    _compileShader( src, isVert=true ){
        const sh = this.gl.createShader( isVert
            ? this.gl.VERTEX_SHADER
            : this.gl.FRAGMENT_SHADER
        );

        this.gl.shaderSource( sh, src );
        this.gl.compileShader( sh );

        if( !this.gl.getShaderParameter( sh, this.gl.COMPILE_STATUS ) ){
            console.log( 'SHADER COMPILE ERROR - isVert: ', isVert, 'MSG: ' , this.gl.getShaderInfoLog( sh ) );
            this.gl.deleteShader( sh );
            return null;
        }

        return sh;
    }

    _linkProgram( vSh, fSh, src ){
        // ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
        // Build Program
        const prog = this.gl.createProgram();
        this.gl.attachShader( prog, vSh );
        this.gl.attachShader( prog, fSh );

        // Parse the output var names & set program to use them
        const varyings = this._parseOutputs( src );
        this.gl.transformFeedbackVaryings( prog, varyings, this.gl.SEPARATE_ATTRIBS );

        // Complete Program
        this.gl.linkProgram( prog );
        
        // ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
        // Cleanup
        this.gl.detachShader( prog, vSh );
        this.gl.detachShader( prog, fSh );
        this.gl.deleteShader( vSh );
        this.gl.deleteShader( fSh );

        // ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
        // Validate
        if( !this.gl.getProgramParameter( prog, this.gl.LINK_STATUS ) ){
            console.log( 'LINK ERROR', this.gl.getProgramInfoLog( prog ) );
            this.gl.deleteProgram( prog );
            return null;
        }

        return prog;
    }
    // #endregion

    // #region GLSL PARSER
    _parseInputs( src ){
        // TODO: Support attribute src that don't define location
        // layout(location=0) in vec3 position;
        const reInput = /layout\(location=(\d+)\)\s+in\s+(\w+)\s+(\w+)\s*;/g;
        let result;

        while( (result = reInput.exec(src)) ) {
            this.inputs[ result[3] ] = { loc: parseInt( result[1] ), type:result[2] };
        }
    }

    _parseOutputs( src ){
        const reOutput = /out\s+(\w+)\s+(\w+)\s*;/g;   // uniform sampler2D tex;
        const varyings = [];
        let result;
        let i = 0;
        
        while( (result = reOutput.exec(src)) ) {
            this.outputs[ result[2] ] = { loc: i++, type:result[1] };
            varyings.push( result[2] );
        }

        return varyings;
    }
    
    _parseUniforms( src ){
        const reUniform = /uniform\s+(\w+)\s+(\w+)\s*;/g; // out vec3 color;
        let result;
        let loc;

        while( (result = reUniform.exec(src)) ){
            loc = this.gl.getUniformLocation( this.prog, result[2] );
            if( loc !== null )  this.uniforms[ result[2] ] = { type: result[1], loc: loc, value: null };
            else                console.log( 'Uniform missing, may not be used : ', result[2] );
        }
    }
    // #endregion
}

/*
// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
// COMPUTE

// API??
const buffers = {
    position: AttributeBuffer,
    voxels: AttributeBuffer,
}

const sh = new GLComputeShader( gl, '' );
sh.setUniform( 'voxRes', [1,1,1] )
sh.setUniform( 'voxSize', 0.2 );
sh.setUniform( 'time', et );

TransformFeedback.compute( renderer, sh, buffers, exeCnt:10 );
// If number is supplied, use that for the draw Count
// else use input size if available, else output size

// --------------------
// Maybe parse data from GLSL src this time around
Input Vars
layout(location=0) in vec3 position;

Output vars ( Varyings )
out vec4 mtx;

Uniforms Vars
uniform float count;

// --------------------
ComputeShader
- .outputs  : [ { name:'', type:'' } ]
- .inputs   : [ { name:'', type:'', loc:0 } ]
- .uniforms : [ { name:'', type:'', value:[0,0,0,0] } ]

// --------------------
Uniforms for Compute Shader
- Time : to animate movement of SDF Shape
- Voxel Resolution : Vec3
- Voxel Size : Float

Buffers
- Voxel Buffer - Uint32Array ( no support for Uint8 or Uint16 as attributes )
-- Build object that will take in Voxel Chunk Resolution & General Chunk Size
--- May need to change the chunk size to fit the resolution
--- Compute the voxel size

// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
// RENDER

Instanced Cubes
- Custom Shader
-- Voxel Buffer will be the instanced data
-- Use BoxGeometry or Sphere
-- Geometry.instanceCount = Total Voxels
-- Take in Voxel Res + Size
-- if voxel is on, place instance at voxel center
    else zero out vertex

*/

</script></body></html>