<!DOCTYPE html><html><head><title></title></head><body><script src="/import-map.js"></script><script type="module">
import Starter, { THREE }       from '../lib/Starter.js';
import Draggables               from '../lib/misc/Draggables.js';
import facedCube                from '../lib/meshes/FacedCube.js';

let App;
let Drag;

window.addEventListener( "load", _=>{
    //~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    App = new Starter( { webgl2:false, grid:true } );
    App.setCamera( 45, 20, 6 ).render();

    //~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    let mesh = facedCube();
    mesh.scale.set( 0.2, 0.2, 0.2 );
    App.add( mesh );

    //~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Drag = new Draggables( App );
    Drag.onMove = ( o )=>{ console.log( o.position ); };
    Drag.add( mesh );
});

</script></body></html>