<!DOCTYPE html><html><head><title></title></head><body><script src="/import-map.js"></script><script type="module">

import Starter, { THREE } from '../lib/Starter.js';

let App;

window.addEventListener( "load", _=>{
    //~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    App = new Starter( { webgl2:true, grid:true } );
    App.setCamera( 0, 40, 6 ).render();

    //~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    let geo     = getGeo();
    let mat     = getRawShader();
    let mesh    = new THREE.Mesh( geo, mat );

    App.add( mesh );
});


function getGeo(){

        const a   = [ -0.5, 0, -0.5 ];//.scale( 0.5 );
        const b   = [  0.5, 1,  0.5 ];//.scale( 0.5 );
        const geo = {
            vertices : [
                a[0], b[1]*2, a[2],    // 0 Up
                a[0], b[1]*2, b[2],    // 1
                b[0], b[1]*2, b[2],    // 2
                b[0], b[1]*2, a[2],    // 3

                a[0], a[1], a[2],      // 4 Bend
                a[0], b[1], b[2],      // 5
                b[0], b[1], b[2],      // 6
                b[0], a[1], a[2],      // 7

                a[0], a[1], b[2]*3,    // 8 Fwd
                a[0], b[1], b[2]*3,    // 9
                b[0], b[1], b[2]*3,    // 10
                b[0], a[1], b[2]*3,    // 11
            ],

            indices  : [
                0,1,2, 2,3,0,       // Top Face

                0,4,5, 5,1,0,       // Top Left
                1,5,6, 6,2,1,       // Top Fwd
                2,6,7, 7,3,2,       // Top Right
                3,7,4, 4,0,3,       // Top Back

                10,9,8, 8,11,10,    // Fwd Face
                4,8,5, 8,9,5,       // Fwd Left
                5,9,6, 9,10,6,      // Fwd Up
                6,10,7, 10,11,7,    // Fwd Right
                7,11,8, 4,7,8       // Fwd Bot
            ],
        }


    //~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    const indices  = [ 0, 1, 2, 2, 3, 0 ];

    // Quad Facing Up, Top-Left Corner Origin. Good setup for Tiling.
    const vertices = new Float32Array([
        0, 0, 0,                        
        0, 0, 1,
        1, 0, 1,
        1, 0, 0,
    ]);

    const inst_pos = new Float32Array([
        0, 0, 0,
        1, 0, 1,
        -1, 0, -1,
        -1, 0, 1,
        1, 0, -1,
    ]);

    //~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    // Define Geometry Object
    const bGeo = new THREE.InstancedBufferGeometry();
    bGeo.setIndex( geo.indices );
    bGeo.setAttribute( "position", new THREE.BufferAttribute( new Float32Array(geo.vertices), 3 ) );
    bGeo.setAttribute( "i_pos",    new THREE.InstancedBufferAttribute( inst_pos, 3 ) );

    return bGeo;
}


function getRawShader(){
    const mat = new THREE.RawShaderMaterial({ 
        vertexShader	: VERT_SRC, 
        fragmentShader	: FRAG_SRC, 
        transparent 	: true,
        side            : THREE.DoubleSide,
        uniforms 		: {
            color   : { value : [0,1,1] },
        } 
    });

    return mat;
}


const VERT_SRC = `#version 300 es
in vec3 position;
in vec3 i_pos;

uniform mat4 modelViewMatrix;
uniform mat4 projectionMatrix;

void main(){
    vec4 ws_pos	= modelViewMatrix * vec4( position + i_pos, 1.0 );
    gl_Position	= projectionMatrix * ws_pos;	
}
`;

const FRAG_SRC = `#version 300 es
precision mediump float;

out vec4 out_color;
uniform vec3 color;

void main(){
    out_color = vec4( color, 1.0 );
}`;

       
</script></body></html>